
---
spring:
  config.activate.on-profile: ${SPRING_PROFILES_ACTIVE:default}
  sql.init.platform: h2
  datasource:
    url: ${DB_URL:jdbc:h2:mem:testdb}
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:}
    driver-class-name: ${DB_DRIVER:org.h2.Driver}
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
  security:
    enabled: ${SECURITY_ENABLED:false}
cds:
  data-source.auto-config.enabled: false

server:
  port: ${SERVER_PORT:8080}
---
# SAP Build Process Automation Configuration
spa:
  baseUrl: ${SPA_BASE_URL:https://spa-api-gateway-bpi-eu-prod.cfapps.eu10.hana.ondemand.com}
  environmentId: ${SPA_ENVIRONMENT_ID:hackatum}
  apiKey: ${SPA_API_KEY:QBvlzsXZoiatJbK9cca98l0tQRCKxSss}
  definitionId: ${SPA_DEFINITION_ID:}
---
management:
  endpoint:
    health:
      show-components: always
      probes.enabled: true
  endpoints:
    web:
      exposure:
        include: health
  health:
    defaults.enabled: false
    ping.enabled: true
    db.enabled: true
